.card {
  margin: 150px auto 0px;

  width: 100%;
  max-width: 500px;
}

@media (max-width: 640px) {
  .card {
    margin: 15px auto 0px;
  }
}

.src {
  border-bottom: var(--border-primary);
  height: 75px;
  width: 100%;
}

.trg {
  height: 100px;
}