@import url('https://fonts.googleapis.com/css2?family=Mansalva:wght@400;700&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: 'Mansalva', 'sans-serif';
}

@layer base {
  Button,
  Link {
    @apply active:shadow-none;
  }

  h1,
  h2,
  p,
  label,
  option,
  select {
    @apply text-black dark:text-white;
  }

  h1 {
    @apply pb-8 text-3xl font-bold;
  }
}

@layer components {
  /** Button behavior*/

  /** Button Colors */
  .button-primary {
    @apply bg-blue-600 text-white shadow-[2px_2px_2px_rgba(0,0,0,0.35)] hover:bg-blue-800 dark:bg-blue-800 dark:text-white dark:hover:bg-blue-600;
  }

  .button-secondary {
    @apply bg-pink-500 text-white shadow-[2px_2px_2px_rgba(0,0,0,0.35)] hover:bg-pink-700 dark:bg-pink-600 dark:text-white dark:hover:bg-pink-500;
  }

  .button-tertiary {
    @apply bg-green-600 text-white shadow-[2px_2px_2px_rgba(0,0,0,0.35)] hover:bg-green-800 dark:bg-green-600 dark:text-white dark:hover:bg-green-500;
  }

  .button-gray {
    @apply bg-gray-300 text-black shadow-[2px_2px_2px_rgba(0,0,0,0.35)] hover:bg-gray-500 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-400;
  }

  .color-disabled {
    @apply bg-gray-100 text-black shadow-none dark:bg-gray-800 dark:text-white;
  }

  .color-highlighted {
    @apply bg-gray-200 dark:bg-gray-700;
  }

  .shape-rectangular {
    @apply h-full w-full;
  }

  .button-rectangular {
    @apply h-13 w-full;
  }

  .button-round {
    @apply h-13 w-13 rounded-full;
  }

  /** Size classes*/
  .card {
    @apply flex h-full max-h-[360px] min-h-[320px] w-full max-w-[360px] min-w-[320px] flex-col justify-between gap-1 rounded-sm;
  }

  .w-card {
    @apply w-full max-w-[360px];
  }
  .min-card {
    @apply min-h-[320px] min-w-[320px];
  }

  .min-h-screen {
    height: 100vh;
  }

  .w-app {
    @apply max-w-[900px];
  }
}

@media (max-height: 420px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
  }

  .app {
    justify-content: center;
  }
}

@media (max-height: 420px) and (max-width: 640px) {
  .sideheader {
    display: flex;
    flex-direction: column;
    height: 150px;
  }
}

@media (min-height: 421px) {
  .header {
    position: relative;
  }
}

@media (min-height: 640px) {
  .header {
    margin-bottom: 80px;
  }
}
