@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva:wght@400;700&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: 'Nova Round', 'sans';
  --font-Mansalva: 'Mansalva', 'sans';
  --color-background-dark: #111827;
  --color-yellow-0: #f8c05d;
  --color-yellow-1: #fac369;
  --color-yellow-2: #f7b740;
  --color-yellow-3: #e6a01e;
  --color-yellow-4: #f9c85e;
  --color-yellow-5: #fad27a;
  --color-blue-0: #87d5e8;
  --color-blue-1: #6fbbcf;
  --color-blue-2: #2e9ab0;
  --color-blue-3: #257f92;
  --color-blue-4: #1c6676;
  --color-blue-5: #113c61;
  --color-blue-6: #0d2c47;
  --color-blue-7: #062946;
  --color-blue-8: #a98749;
  --color-overlay-light: rgba(255, 255, 255, 0.4);
  --color-overlay-dark: rgba(17, 24, 39, 0.6);
  --color-green-0: #33691e;
}

@layer base {
  html {
    font-size: 15px;
  }

  button,
  link {
    @apply active:shadow-none;
  }

  button {
    @apply flex items-center justify-center;
  }

  h2,
  p,
  label,
  option,
  select {
    @apply font-sans text-black dark:text-white;
  }

  h1 {
    @apply font-display pb-8 text-3xl font-bold text-black dark:text-white;
  }

  select,
  input {
    @apply focus:outline-none active:outline-none;
  }
}

@layer utilities {
  /* DIMENSIONS */
  /* buttons */
  .h-A {
    @apply h-13;
  }

  .w-A {
    @apply w-13;
  }

  /* settings fields */
  .h-B {
    @apply h-10;
  }

  /* word and grammar list fields */
  .h-C {
    @apply h-8;
  }

  .h-D {
    @apply h-11;
  }

  .w-D {
    @apply w-11;
  }

  .min-card {
    @apply min-h-[320px] min-w-[320px];
  }

  .w-card {
    @apply w-full max-w-[360px] min-w-[320px];
  }

  .centered {
    @apply flex items-center justify-center;
  }

  /* COLORS */
  /* site background */
  .color-background {
    @apply text-black dark:text-white;
    background: linear-gradient(
      167.5deg,
      var(--color-yellow-2) 20%,
      var(--color-yellow-4) 80%
    );
  }

  .dark .color-background {
    background: linear-gradient(
      167.5deg,
      var(--color-background-dark) 20%,
      #232b3a 80%
    );
  }

  /* disabled buttons */
  .color-disabled {
    @apply bg-gray-100 text-black shadow-none;
    @apply dark:bg-gray-800 dark:text-white dark:hover:bg-gray-800;
  }

  /* card with audio */
  .color-audio {
    @apply bg-white shadow-[2px_2px_2px_rgba(0,0,0,0.3)] hover:bg-gray-100 active:shadow-none;
    @apply dark:bg-gray-700 hover:dark:bg-gray-600;
  }

  /* overlay behind guide tips */
  .color-overlay {
    @apply bg-[var(--color-overlay-light)] dark:bg-[var(--color-overlay-dark)];
  }

  /* selected header icons */
  .color-selected {
    @apply bg-white text-black shadow-none;
  }

  /* progress bar */
  .color-bar-1 {
    @apply bg-[#6FBBCF];
  }

  .color-bar-2 {
    @apply bg-[#2E9AB0];
  }

  .color-bar-3 {
    @apply bg-[#257F92];
  }

  .color-bar-4 {
    @apply bg-[#1C6676];
  }

  .color-today {
    @apply bg-[var(--color-yellow-3)] dark:bg-[var(--color-yellow-2)];
  }
}

@layer components {
  /* rectangular buttons */
  .button-rectangular {
    @apply h-13 w-full font-sans font-bold tracking-wide;
    @apply bg-[var(--color-blue-4)] text-white shadow-[2px_2px_2px_rgba(0,0,0,0.35)] hover:bg-[var(--color-blue-2)] active:shadow-none;
    @apply dark:bg-[var(--color-blue-4)] dark:text-white dark:hover:bg-[var(--color-blue-2)];
  }

  /* round header buttons */
  .button-header {
    @apply text-black hover:bg-white disabled:text-gray-600 dark:text-white dark:hover:text-black;
    @apply h-13 w-13 rounded-full;
  }

  .card {
    @apply flex h-full max-h-[360px] min-h-[320px] w-full max-w-[360px] min-w-[320px] flex-col justify-start gap-1;
  }

  .help-overlay {
    @apply relative flex flex-col items-center justify-start;
  }

  .list {
    @apply flex flex-col gap-1;
  }

  /* notes on PracticeCard */
  .note {
    @apply font-Mansalva text-base font-medium;
  }

  .notice {
    @apply font-Mansalva text-center text-white dark:text-[var(--color-blue-0)];
  }

  .error {
    @apply font-Mansalva font-bold text-red-800 dark:text-red-500;
  }

  /* userDashboard new learned number */
  .text-today {
    @apply text-xs font-bold text-[var(--color-yellow-3)] dark:text-[var(--color-yellow-2)];
  }

  .header {
    @apply relative;
  }

  .help-overlay {
    @apply h-full max-h-[395px] w-full max-w-[360px];
  }
}

@media (max-height: 460px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
  }
}

@media (max-height: 395px) {
  .help-overlay {
    height: 100%;
    max-height: 360px;
    width: 100%;
    max-width: 520px;
  }

  .help-icon {
    padding-right: 45px;
  }

  .reverse-order {
    flex-direction: row-reverse;
  }
}

@media (max-height: 460px) and (max-width: 640px) {
  .sideheader {
    flex-direction: column;
    height: 150px;
  }
}

@media (min-height: 640px) {
  .header {
    margin-bottom: 80px;
  }
}
